extends layout

block pagescripts
  script(src='/javascripts/kettleservice.js')
  script(src='/javascripts/kettlecontroller.js')
  


block content
  h1
    span.glyphicon.glyphicon-fire
    = ' ' + title 
  
  
  hr/
  
  div(ng-app='app')
    div(ng-controller='kettlecontroller as kettle')
      div
        button(type='button', ng-click='turnKettleOn()', ng-disabled='kettleOn' class="btn btn-success") Turn Kettle On
        button(type='button', ng-click='turnKettleOff()', ng-disabled='!kettleOn' class="btn btn-danger") Turn Kettle Off
        
      br/
          
      div
        h3 Kettle Status
        
      hr/  
      
      div
        h4 On
        div(ng-if='kettleOn')
            strong 
                span.text-success Yes
        div(ng-if='!kettleOn')
            strong
                span.text-danger No
        
      div
        h4 Tempurature (todo)
        div.progress(class='progress-striped')
            div.progress-bar(class='progress-bar-danger' style='width: 80%')
            
      div
        h4 Water Level (todo)
        div.progress(class='progress-striped')
            div.progress-bar(class='progress-bar-info' style='width: 30%')

      br/
      br/
      br/
         
      div
        h4 Debug
        div.well(class='well-sm') {{kettleStatus}}


