extends layout

block pagescripts
  script(src='/javascripts/kettleservice.js')
  script(src='/javascripts/kettlecontroller.js')
  


block content
  div(ng-app='app')
  
    div(ng-controller='kettlecontroller as kettle')
      h1
        span.glyphicon.glyphicon-fire(ng-class="{ 'text-warning': kettleOn }")
        = ' ' + title 
    
      div.row
      
        div.col-md-8
            
            div
                h3 Kettle Status
                
            hr/  
            
            div(ng-if='kettleConnected')
                div
                    h4 Turned On?
                    
                    div(ng-if='kettleOn')
                        strong 
                            span.text-danger Yes 
                            = ' '
                            span.text-warning.glyphicon.glyphicon-fire
                            
                    div(ng-if='!kettleOn')
                        strong
                            span.text-primary No
                    
                div
                    h4 Tempurature
                    progressbar(max="110" value="kettleTemp" type='{{kettleTempState}}' ng-class="{ 'progress-striped active': kettleOn }")
                        b {{kettleTemp}}°C
                        
                div
                    h4 Water Level
                    progressbar(max="100" value="kettleLevel" type='info' ng-class="{ 'progress-striped active': kettleOn }")
                        b {{kettleLevel}}%
                            
               
                    
            div(ng-if='!kettleConnected')
                strong 
                    span.text-warning No kettle connected 
               
            br/
            div
                h5 Debug
                div.well.well-sm {{kettleStatus}}
            
        div.col-md-4
          
            div(ng-if='kettleConnected')
                div
                    h3 Kettle Actions
                    
                hr/  
            
                div
                    button.btn.btn-danger(type='button', ng-click='turnKettleOn()', ng-disabled='kettleOn') Turn On
                    button.btn.btn-primary(type='button', ng-click='turnKettleOff()', ng-disabled='!kettleOn') Turn Off


