extends layout

block pagescripts
  script(src='/javascripts/kettleservice.js')
  script(src='/javascripts/kettlecontroller.js')


block content
  h1
    span.glyphicon.glyphicon-fire
    = ' ' + title 
  
  
  hr/
  
  div(ng-app='app')
    div(ng-controller='kettlecontroller as kettle')
      div
        //button(type='button', ng-click='updateKettleStatus()', class="btn btn-default") Refresh
        button(type='button', ng-click='turnKettleOn()', class="btn btn-success") Turn Kettle On
        button(type='button', ng-click='turnKettleOff()', class="btn btn-danger") Turn Kettle Off
      
      div
        h3 Status
        div.well {{kettleStatus}}


